.login-page {
    width: 360px;
    padding-top: 20px;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
        rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

body {
    background: #F4F0EE; /* fallback for old browsers */

    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-logo {
    color: black;
    font-weight: 600;
    font-size: 30px;
    margin-left: 30px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.bottomFooter {
    margin-top: 40px;
}

.bottomFooter .hotline-footer .phonenumber-footer {
    margin-top: -15px;
    margin-bottom: 10px;
}

.bottomFooter .register-footer .register-field {
    border: none;
    background-color: #E6E6E6;
    padding: 10px;
}

.bottomFooter .register-footer .register-field input {
    border: none;
    background-color: #E6E6E6;
}

.bottomFooter .register-footer .icon i {
    font-size: 20px;
    margin-left: 25px;
}